{% extends "layout.html" %}

{% block main %}
    <div class="row">
        <div class="col">

            <!--{{ message }}-->
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!--<input type="text" name="ttt" placeholder="AAA">-->

                <!--<p>
                    <label for="id_name">書名</label>
                    <input type="text" name="name" id="id_name" required>
                </p>

                <p>
                    <label for="id_price">價格</label>
                    <input type="text" name="price" id="id_price">
                </p>

                <p>
                    <label for="id_introduction">簡介</label>
                    <textarea name="introduction" id="id_introduction" cols="30" rows="10"></textarea>
                </p>-->



                <button type="submit">Send</button>
            </form>
        </div>
    </div>
{% endblock main %}